***
***

<center><h2>Criando base de dados</h2></center>

***
***

<h3> Bibliotecas Utilizadas </h3>

In [1]:
from random import randint
import pandas as pd
import numpy as np

<h2>Criando a própria base de dados:</h2>

<h3>Features</h3>

> Pelo Longo?
    0 -> Não | 1 -> Sim

> Perna Curta? 
    0 -> Não | 1 -> Sim

> Faz auau? 
    0 -> Não | 1 -> Sim

> Porco -> 1 | Cachorro -> 0

In [2]:
# Features list
pelo_longo = []
perna_curta = []
faz_auau = []
porco_cachorro = []

In [3]:
# Criando valores aleatórios entre 0 e 1
for i in range(10000):

    pelo_longo.append(randint(0, 1))
    perna_curta.append(randint(0, 1))
    faz_auau.append(randint(0, 1))
    porco_cachorro.append(randint(0, 1))

# Transformando as listas em series do pandas
pelo_longo = pd.Series(pelo_longo)
perna_curta = pd.Series(perna_curta)
faz_auau = pd.Series(faz_auau)
porco_cachorro = pd.Series(porco_cachorro)

# Criando um DataFrame com todos os valores gerados aleatóriamente
df = pd.concat([pelo_longo, perna_curta, faz_auau, porco_cachorro], axis = 'columns')
df.columns = ['Pelo_longo', 'Perna_curta', 'Faz_auau', 'Porco_cachorro']

# Removendo registros de cachorros que não latem
n_ = round(len(df.query('Faz_auau == 0 and Porco_cachorro == 0').index) * 0.01)
t = len(df.query('Faz_auau == 0 and Porco_cachorro == 0').index)
df.drop(index=df.query('Faz_auau == 0 and Porco_cachorro == 0').index[:t-n_], inplace = True)

# Removendo registros de porcos que latem
df.drop(index = df.query('Faz_auau == 1 and Porco_cachorro == 1').index, inplace = True)

<h3>Salvando em um arquivo csv</h3>

In [4]:
df.to_csv('porco_cachorro.csv', index = False)

In [5]:
df.shape

(5118, 4)

In [6]:
df

      Pelo_longo  Perna_curta  Faz_auau  Porco_cachorro
2              1            0         0               1
3              0            0         1               0
5              0            1         1               0
6              1            0         0               1
7              0            0         0               1
...          ...          ...       ...             ...
9991           1            1         0               1
9992           1            0         0               0
9993           1            1         0               1
9996           0            0         1               0
9999           1            1         0               0

[5118 rows x 4 columns]